@import "src/styles/_variables.scss";

.todo {
  margin: 0.5rem;
  font-size: 1.5rem;
  color: black;
  display: inline;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 1s ease;
}

.completeBtn {
  background-image: linear-gradient(to right, #240636 0%, #8cc1e0 100%);
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  color: #8cc1e0;
  margin-right: 2px;
  height: 20px;
  font-size: 10px;
  padding: 4px;
  text-decoration: none;
  width: 20px;
  z-index: 2;
}

.completeBtn:hover {
  color: $text-color;

  .checkBtn {
    background: #240636a6;
    border-radius: 10px;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  .completeBtn:hover .checkBtn {
    background: transparent;
  }
}

.deleteBtn {
  background-image: linear-gradient(to right, #c31432 0%, #db7d8c 100%);
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  color: #ecc3ca;
  height: 20px;
  font-size: 10px;
  padding: 4px;
  text-decoration: none;
  width: 20px;
  z-index: 2;
}

.deleteBtn:hover {
  color: $text-color;

  .trashBtn {
    align-items: center;
    background: #c31431a6;
    border-radius: 20px;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
